:root {
    --primary-font: "Raleway", Arial, Helvetica, sans-serif;
    --text-color: #252525;
    --background-color: #fff;
    --primary-color: #e0bea2;
    --cream-clothes-color: #f1ddaa;
    --blue-clothes-color:  #6f83a4;
    --menu-bg-color: #7a7a7a;
}